<div class="card" style="padding: 15px;">
    <div class="header">
        <h4 class="title">
            Book List
            <button type="submit" onclick="ulist('/add-book')" class="btn btn-success btn-fill pull-right" value="">Add
                Book
            </button>
        </h4>

        <p class="category">Here is a subtitle for this table</p>
    </div>
    <div id="body">
        <div class="content table-responsive table-full-width">
            <table id="booklist" class="table table-hover">
                <thead>
                <th>ID</th>
                <th>Genre</th>
                <th>Type</th>
                <th></th>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Genre</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        var count = 0;
        $.ajax({
            url: "http://localhost:5000/genre",
            dataType: 'json',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                var table = $('#genrelist').DataTable({
                    "data": response,
                    "columns": [
                        {"data": "id"},
                        {"data": "genre"},
                        {"data": "type"},
                        {
                            "defaultContent": "<div class=\"row\">\n" +
                                "    <div class=\"col-md-2\">\n" +
                                "        <button class=\"btnViewGenre pe-7s-look btn btn-info btn-fill\" value=\"view\"></button>\n" +
                                "    </div>\n" +
                                "    <div class=\"col-md-2\">\n" +
                                "        <button class=\"btnDeleteGenre pe-7s-trash btn btn-danger btn-fill\" value=\"delete\"></button>\n" +
                                "    </div>\n" +
                                "</div>"
                        }
                    ],
                });
                $('#genrelist tbody').on('click', 'button', function () {
                    var data = table.row($(this).parents('tr')).data();
                    var action = $(this).val();
                    var id = data.id;
                    genreAction(action, id);
                });
            }
        });

    });

    function genreAction(action, id) {
        if (action === 'view') {

        } else {
            $.ajax({
                url: "/genre/"+id,
                method:"DELETE",
                dataType: "JSON"
            }).done(function (data) {
                ulist("/genres")
            })
        }
    }


</script>


<script>

    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:5000/book",
            dataType: 'json',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                $('#booklist').DataTable({
                    "data": response,
                    "columns": [
                        {"data": "id"},
                        {"data": "book_name"},
                        {"data": "image"},
                        {"data": "description"}
                    ]
                });
            }
        });

    });

</script>
