<div id="flash"></div>
<div class="col-md-2"></div>
<div class="col-md-8 card">
    <div class="header">
        <h4 class="title">Change Password</h4>
    </div>
    <div class="content">
        <form id="passwordform">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="oldpassword">Old Password</label>
                        <input required id="oldpassword" type="password" class="form-control" name="oldpassword">
                    </div>
                    <div class="form-group">
                        <label for="newpassword">New Password</label>
                        <input required id="newpassword" type="password" class="form-control" name="newpassword">
                    </div>
                    <div class="form-group">
                        <label for="password2">Retype Password</label>
                        <input required id="password2" type="password" class="form-control" name="password2">
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="pull-right">
                <button class="btn btn-warning btn-fill" onclick="ulist('/')">Back
                </button>
                <button type="submit" class="btn btn-default btn-fill"
                        onclick="ulist('/account')">
                    Submit
                </button>
            </div>
            <div class="clearfix"></div>
        </form>

    </div>
</div>

<script>
    $('form').submit(function (event) {

        const oldpassword = $('#oldpassword').val();
        const newpassword = $('#newpassword').val();
        const password2 = $('#password2').val();
        const formData = JSON.stringify({
            "oldpassword": oldpassword,
            "newpassword": newpassword,
            "password2": password2
        });

        console.log(formData);
        // process the form
        $.ajax({
            type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url: '/account', // the url where we want to POST
            data: formData, // our data object
            contentType: 'application/json', // what type of data do we send to the server
            dataType: 'json', // what type of data do we expect back from the server
        })
        // using the done promise callback
            .done(function (data) {
                $( "#success" ).remove();
                $( "#fail" ).remove();

                // log data to the console so we can see
                console.log(data.status);
                if (data.status === 'fail') {
                    $("#flash").append("<div id=\"success\" class=\"alert alert-danger\">\n" +
                        "                                    <button type=\"button\" aria-hidden=\"true\" class=\"close\">×</button>\n" +
                        "                                    <span>Failed to change password</span>\n" +
                        "                                </div>");
                } else {
                    $("#flash").append("<div id=\"fail\" class=\"alert alert-success\">\n" +
                        "                                    <button type=\"button\" aria-hidden=\"true\" class=\"close\">×</button>\n" +
                        "                                    <span>You've successfully changed your password!</span>\n" +
                        "                                </div>")
                    $('#passwordform')[0].reset();
                }

            });


        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });
</script>