<div class="col-md-2"></div>
<div class="col-md-8 card">
    <div class="header">
        <h4 class="title">Add Book</h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Book Name</label>
                        <input required id="bookname" type="text" class="form-control" placeholder="e.g. Fantasy">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Image</label>
                        <input id="file" type="file" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea required id="description" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="genreSelect">Genre</label>
                    <select id="genreSelect" class="form-control" size="5" multiple></select>
                </div>
            </div>

            <div class="row pull-right">
                <input class="btn btn-warning btn-fill" onclick="ulist('/admin-books')" value="Back"
                       style="max-width: 80px">
                <button type="submit" class="btn btn-info btn-fill" onclick="ulist('/admin-books')">
                    Submit
                </button>

            </div>

            <div class="clearfix"></div>
        </form>
    </div>
</div>

<script>
    add_book()
</script>