<style>
    td {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="card" style="padding: 15px;">
    <div class="header">
        <h4 class="title">
            Book List
            <button type="submit" onclick="ulist('/add-book')" class="btn btn-success btn-fill pull-right" value="">Add
                Book
            </button>
        </h4>

        <p class="category">Here is a subtitle for this table</p>
    </div>
    <div id="body">
        <div class="content table-responsive table-full-width">
            <table id="booklist" class="table table-hover" style="table-layout: fixed">
                <thead>
                <th>ID</th>
                <th>Book Name</th>
                <th>Image</th>
                <th>Genre</th>
                <th></th>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Book Name</th>
                    <th>Image</th>
                    <th>Genre</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    booklist()
</script>



