<style>
    td {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="col-md-2"></div>
<div class="col-md-8 card">
    <div class="header">
        <h4 class="title">View Genre</h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input id="genre" type="text" class="form-control" placeholder="e.g. Fantasy">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <input id="type" type="text" class="form-control" placeholder="e.g. Fiction">
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-warning btn-fill" onclick="ulist('/genres')">Back
                </button>
                <button type="submit" class="btn btn-success btn-fill" onclick="ulist('/view-genre')">
                    Update
                </button>
            </div>
            <div class="clearfix"></div>
        </form>

    </div>
</div>

<script>
    view_genre_form();
    edit_genre_form()
</script>