<div class="card" style="padding: 15px;">
    <div class="header">
        <h4 class="title">
            Genre List
            <button type="submit" onclick="ulist('/addgenre')" class="btn btn-success btn-fill pull-right" value="">Add
                Genre
            </button>

            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-info btn-fill" value="" onclick="">View</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger btn-fill" value="">
                        Delete
                    </button>
                </div>
            </div>
        </h4>

        <p class="category">Here is a subtitle for this table</p>
    </div>
    <div id="body">
        <div class="content table-responsive table-full-width">
            <table id="genrelist" class="table table-hover">
                <thead>
                <th>ID</th>
                <th>Genre</th>
                <th>Type</th>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Genre</th>
                    <th>Type</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:5000/genre",
            dataType: 'json',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                $('#genrelist').DataTable({
                    "data": response,
                    "columns": [
                        {"data": "id"},
                        {"data": "genre"},
                        {"data": "type"}
                    ],
                });
            }
        });


        $('#genrelist tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            alert(data[0] + "'s salary is: " + data[2]);
        });
    });

</script>
