


<div class="card" style="padding: 15px;">
    <div class="header">
        <h4 class="title">
            Genre List
            <button type="submit" onclick="ulist('/addgenre')" class="btn btn-success btn-fill pull-right" value="">Add
                Genre
            </button>
        </h4>

        <p class="category">Here is a subtitle for this table</p>
    </div>
    <div id="body">
        <div class="content table-responsive table-full-width">
            <table id="genrelist" class="table table-hover">
                <thead>
                <th>ID</th>
                <th>Genre</th>
                <th>Type</th>
                <th></th>
                </thead>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Genre</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>





<script>

    $(document).ready(function () {
                //Delete Genre
        $('#deleteGenre').click(function () {
            var id = $(this).val();
            deleteGenre(id);
        });
            var count = 0;
        $.ajax({
            url: "http://localhost:5000/genre",
            dataType: 'json',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                var table = $('#genrelist').DataTable({
                    "data": response,
                    "columns": [
                        {"data": "id"},
                        {"data": "genre"},
                        {"data": "type"},
                        {
                            "defaultContent": "<div class=\"row\">\n" +
                                "    <div class=\"col-md-2\">\n" +
                                "        <button class=\"btnViewGenre pe-7s-look btn btn-info btn-fill\" value=\"view\"></button>\n" +
                                "    </div>\n" +
                                "    <div class=\"col-md-2\">\n" +
                                "        <button class=\"btnDeleteGenre pe-7s-trash btn btn-danger btn-fill\" value=\"delete\"></button>\n" +
                                "    </div>\n" +
                                "</div>"
                        }
                    ],
                });
                $('#genrelist tbody').on('click', 'button', function () {
                    var data = table.row($(this).parents('tr')).data();
                    var action = $(this).val();
                    var id = data.id;
                    genreAction(action, id);
                });
            }
        });

    });

</script>
