{% extends "layouts/admin_layout.html" %}
{% block page %}
    Genre List
{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}

    <table id="genrelist" class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Genre</th>
            <th>Type</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Genre</th>
            <th>Type</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block scripts %}

    <script>

        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:5000/genre",
                dataType: 'json',
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                success: function (response) {
                    $('#genrelist').DataTable({
                        "data": response,
                        "columns": [
                            {"data": "id"},
                            {"data": "genre"},
                            {"data": "type"}
                        ]
                    });
                }
            });

        });

    </script>

{% endblock %}