{% extends "layouts/admin_layout.html" %}
{% block styles %}

{% endblock %}
{% block content %}

    <table id="users" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Us</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                    </tfoot>
                </table>

{% endblock %}

{% block scripts %}

    <script>

        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:5000/users-list",
                dataType: 'json',
                crossDomain: true,
                xhrFields: {
                   withCredentials: true
                },
                success: function(response){
                    $('#users').DataTable({
                "data": response,
                "columns": [
                    {"data": "id"},
                    {"data": "username"},
                    {"data": "firstname"},
                    {"data": "lastname"},
                    {"data": "email"},
                    {"data": "phone"}
                ]
            });
                    console.log(response)
                }
            });

        });

    </script>

{% endblock %}