<div class="col-md-2"></div>
<div class="col-md-8 card">
    <div class="header">
        <h4 class="title">View Genre</h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input disabled id="genre" type="text" class="form-control" placeholder="e.g. Fantasy">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <input disabled id="type" type="text" class="form-control" placeholder="e.g. Fiction">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-warning btn-fill pull-right" onclick="ulist('/genres')" >Back</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<script>
    view_genre_form()
</script>