<div class="col-md-2"></div>
<div class="col-md-8 card">
    <div class="header">
        <h4 class="title">Book Details</h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bookname">Book Name</label>
                        <input disabled id="bookname" type="text" class="form-control" placeholder="e.g. Fantasy">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea disabled id="description" type="text" class="form-control"
                                  placeholder="e.g. Fiction"/>
                    </div>
                    <div class="form-group">
                        <label for="genreSelect">Genre</label>
                        <select disabled id="genreSelect" class="form-control" size="8" multiple></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Image</label>
                        <div>
                            <img id="image" src="" style="max-width: 250px; border: #0b2e13 dashed medium">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="row pull-right">
                <input class="btn btn-warning btn-fill" onclick="ulist('/admin-books')" value="Back"
                       style="max-width: 80px">
                <button type="submit" class="btn btn-info btn-fill" onclick="ulist('/book-genre')">
                    Edit
                </button>

            </div>

            <div class="clearfix"></div>
        </form>
    </div>
</div>

<script>
    view_book_form()
</script>