<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/login.css') }}">
    <script language="JavaScript" type="text/javascript"
            src="{{ url_for('static', filename='login/login.js') }}"></script>

    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/landing/css/loader.css">
</head>

<body>

<table class="doc-loader">
    <tr>
        <td>
            <div class="windows8"> <!-- windows8 -->
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall">
                    </div>
                </div>
            </div> <!-- End windows8 -->
        </td>
    </tr>
</table>

<div class='brand'>
    <a href='/'>
        <img src='/static/images/icon-larger.png'>
    </a>
</div>
<div class='login'>
    <div class='login_title'>
        <span>Login to your account</span>
        {% block messages %}
            {% include 'layouts/flash.html' %}
        {% endblock %}
    </div>

    <form class='login_fields' action="/login" method="post">
        {{ form.csrf_token }}

        <div class='login_fields__user'>
            <div class='icon'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
            </div>
            {{ form.username }}
            <div class='validation'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
            </div>

        </div>
        <div class='login_fields__password'>
            <div class='icon'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
            </div>
            {{ form.password }}
            <!--<input placeholder='Password' type='password'>-->
            <div class='validation'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
            </div>
        </div>

        <div class='login_fields__submit'>
            <!--<input type='submit' value='Log In'>-->
            {{ form.submit }}
            <div class='forgot'>
                <a href='#'>Forgotten password?</a>
            </div>
        </div>
    </form>
    <div class='success'>
        <h2>Authentication Success</h2>
        <p>Welcome back</p>
    </div>
    <div class='disclaimer'>
        <p>Have a good time reading!</p>
    </div>
</div>
<div class='authent'>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
    <p>Authenticating...</p>
</div>
<script type="text/javascript" src="/static/landing/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/landing/js/jquery-migrate-1.2.1.min.js"></script>

<script src="/static/landing/js/main.js" type="application/javascript" rel="script"></script>

</body>
</html>
