<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <!-- Site Title -->
    <title>BookLib</title>
    <meta name="description" content="RGBA's idea - Responsive One Page Template Documentation">
    <meta name="viewport" content="width=device-width">
    <!-- Load Css -->
    <link rel="stylesheet" type="text/css" href="/static/landing/css/cssloader.css" />
    <link rel="stylesheet" type="text/css" href="/static/landing/css/grid.css" />
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/static/landing/css/main.css" />

</head>
<body>
<!-- loader  -->
<table class="doc-loader">
    <tr>
        <td>
            <div class="windows8"> <!-- windows8 -->
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall">
                    </div>
                </div>
            </div> <!-- End windows8 -->
        </td>
    </tr>
</table>

<nav>
    <!-- ==================== Navbar ==================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner from-top">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#"><h1 class="text-center">B</h1></a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-soc hidden-phone">
            <div class="container">
                <div class="row">
                    <div class="span6 from-right">
                        <ul class="address">
                            <li><span><i class="fa fa-phone"></i></span>+62 123-456-7890</li>
                            <li><span><i class="fa fa-envelope"></i></span>support@email.com</li>
                        </ul>
                    </div>
                    <div class="span6 from-left">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== /Navbar ==================== -->
</nav>

<section id="slide">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <div class="fillbg1">
                    <div id="featuress" class="parallax">
                        <div id="features" class="parallax-bg" style="background-position: 50% -33px;
                        background:url('/static/landing/image/bag1.jpg');
                        background-attachment: fixed;
                        background-size: cover;"></div><!-- END PARALLAX BACKGROUND -->
                        <div class="overlay"></div><!-- END PATTERN OVERLAY -->
                        <div class="container clearfix">
                            <div class="parallax-content">
                                <div class="row-fluid margin">
                                    <div class="span12">
                                        <h1>We Have What Your Looking For</h1>
                                        <!-- <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4> -->
                                        <a href="/register" class="button_regular">Register Now!</a>
                                    </div>
                                </div>
                            </div><!-- END PARALLAX CONTENT -->
                        </div><!-- END CONTAINER -->
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="fillbg2">
                    <div id="featuress" class="parallax">
                        <div id="features-2" class="parallax-bg" style="background-position: -50px;
										background:url('/static/landing/image/newban.jpg');
										background-attachment: fixed;
										background-size: cover;"></div><!-- END PARALLAX BACKGROUND -->
                        <div class="overlay"></div><!-- END PATTERN OVERLAY -->
                        <div class="container clearfix">
                            <div class="parallax-content">
                                <div class="row-fluid margin">
                                    <div class="span12">
                                        <h1><span>We Have What Your Looking For</span></h1>
                                        <!-- <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4> -->
                                        <a href="/register" class="button_regular">Register Now!</a>
                                    </div>
                                </div>
                            </div><!-- END PARALLAX CONTENT -->
                        </div><!-- END CONTAINER -->
                    </div>
                </div>
            </div>

        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row-fluid">
            <div class="span4 feat1 fade-in">
                <div class="circle-1">
                    <i class="fa fa-lightbulb-o icon"></i>
                </div>
                <h3>Smart and Flexible</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <hr>
                <a href="#" class="color-2">Read more !</a>
            </div>

            <div class="span4 feat1 fade-in">
                <div class="circle-1">
                    <i class="fa fa-globe icon"></i>
                </div>
                <h3>Modern Design</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <hr>
                <a href="#" class="color-2">Read More !</a>
            </div>

            <div class="span4 feat1 fade-in">
                <div class="circle-1">
                    <i class="fa fa-mobile-phone icon"></i>
                </div>
                <h3>Responsive Design</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <hr>
                <a href="#" class="color-2">Read More !</a>
            </div>
        </div>
    </div>
</section>

<section id="content" class="padding-min">
    <section id="testimonial">
        <div class="container">
            <div class="title from-top">
                <h2>Awesomeness Awaits</h2>
                <div class="bullerBr">
                    <span>&nbsp;</span>
                    <i class="fa fa-circle"></i>
                    <label class="smlwidth">&nbsp;</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 fade-in">
                    <img src="assets/img/layout.png">
                </div>

                <div class="span6">
                    <ul class="view">
                        <li class="left from-bottom"><i class="fa fa-coffee fa-3x"></i></li>
                        <li class="right from-bottom"><h4>Find Books</h4> Necessary making this the first true generator on the Internet.</li>

                        <li class="left from-bottom"><i class="fa fa-leaf fa-3x"></i></li>
                        <li class="right from-bottom"><h4> Custom Library</h4> Add your favorite books to your own Libray</li>

                        <li class="left from-bottom"><i class="fa fa-cog fa-3x"></i></li>
                        <li class="right from-bottom"><h4>Well Structured &amp; Cross Browsered</h4> Comment and Rate Books</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer fade-in">
            <!-- ==================== Footer Top ==================== -->
            <div class="subfooter fade-in">
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/static/landing/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/landing/js/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="/static/landing/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/landing/js/jquery.easing.min.js"></script>
    <!-- Modernizr -->
    <script src="/static/landing/js/modernizr.custom.js"></script>
    <!-- prettyPhoto -->
    <script type="text/javascript" src="/static/landing/js/jquery.prettyPhoto.js"></script>
    <!-- slider camera -->
    <script type="text/javascript" src="/static/landing/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/static/landing/js/camera.js"></script>
    <!-- Flexslider -->
    <script type="text/javascript" src="/static/landing/js/jquery.flexslider.js"></script>
    <!-- Navbar -->
    <script type="text/javascript" src="/static/landing/js/classie.js"></script>
    <script type="text/javascript" src="/static/landing/js/cbpAnimatedHeader.js"></script>
    <!-- jquery-ui -->
    <script type="text/javascript" src="/static/landing/js/jquery-ui.js"></script>
    <!-- appear -->
    <script type="text/javascript" src="/static/landing/js/appear.js"></script>
    <!-- Main Script -->
    <script type="text/javascript" src="/static/landing/js/main.js"></script>
</body>
</html>
