{% extends "layouts/user_layout.html" %}

{#styles#}
{% block styles %}

{% endblock %}



{# main content #}

{% block pre_main %}
    <section id="slide">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <div class="fillbg1">
                        <div id="featuress" class="parallax">
                            <div id="features" class="parallax-bg" style="background-position: 50% -33px;
                        background:url('/static/landing/image/bag1.jpg');
                        background-attachment: fixed;
                        background-size: cover;"></div><!-- END PARALLAX BACKGROUND -->
                            <div class="overlay"></div><!-- END PATTERN OVERLAY -->
                            <div class="container clearfix">
                                <div class="parallax-content">
                                    <div class="row-fluid margin">
                                        <div class="span12">
                                            <h1>We Have What Your Looking For</h1>
                                            <!-- <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4> -->
                                            <a href="/register" class="button_regular">Register Now!</a>
                                        </div>
                                    </div>
                                </div><!-- END PARALLAX CONTENT -->
                            </div><!-- END CONTAINER -->
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="fillbg2">
                        <div id="featuress" class="parallax">
                            <div id="features-2" class="parallax-bg" style="background-position: -50px;
										background:url('/static/landing/image/banner-icons.png');
										background-attachment: fixed;
										background-size: cover;"></div><!-- END PARALLAX BACKGROUND -->
                            <div class="overlay"></div><!-- END PATTERN OVERLAY -->
                            <div class="container clearfix">
                                <div class="parallax-content">
                                    <div class="row-fluid margin">
                                        <div class="span12">
                                            <h1><span>We Have What Your Looking For</span></h1>
                                            <!-- <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4> -->
                                            <a href="/register" class="button_regular">Register Now!</a>
                                        </div>
                                    </div>
                                </div><!-- END PARALLAX CONTENT -->
                            </div><!-- END CONTAINER -->
                        </div>
                    </div>
                </div>

            </div>

            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
        </div>
    </section>
{% endblock %}


{% block main_content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span4 feat1 fade-in">
                <div class="circle-1">
                    <i class="fa fa-search icon"></i>
                </div>
                <h3>Find a Book </h3>
                <hr>
                <a href="#" class="color-2">Read more !</a>
            </div>

            <div class="span4 feat1 fade-in">
                <div class="circle-1">
                    <i class="fa fa-globe icon"></i>
                </div>
                <h3>Access Anywhere</h3>
                <hr>
                <a href="#" class="color-2">Read More !</a>
            </div>

            <div class="span4 feat1 fade-in">
                <div class="circle-1">
                    <i class="fas fa-book-reader icon"></i>
                </div>
                <h3>My Library</h3>
                <hr>
                <a href="#" class="color-2">Read More !</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block after_main %}
    <section id="content" class="padding-min">
        <section id="testimonial">
            <div class="container">
                <div class="title from-top">
                    <h2>Awesomeness Awaits</h2>
                    <div class="bullerBr">
                        <span>&nbsp;</span>
                        <i class="fa fa-circle"></i>
                        <label class="smlwidth">&nbsp;</label>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 fade-in">
                        <img src="/static/landing/image/reader.png" style="height: 300px; float:right; margin-right: 10%;">
                    </div>

                    <div class="span6">
                        <ul class="view">
                            <li class="left from-bottom"><i class="fas fa-book fa-3x"></i></li>
                            <li class="right from-bottom"><h4>Find Books</h4> Necessary making this the first true generator
                                on the Internet.
                            </li>

                            <li class="left from-bottom"><i class="far fa-bookmark fa-3x"></i></li>
                            <li class="right from-bottom"><h4> Custom Library</h4> Add your favorite books to your own
                                Libray
                            </li>

                            <li class="left from-bottom"><i class="fas fa-comment-dots fa-3x"></i></li>
                            <li class="right from-bottom"><h4>Well Structured &amp; Cross Browsered</h4> Comment and Rate
                                Books
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
